/* Стили для главного заголовка */
.main-header {
    background-color: #7c3c87; /* Фиолетовый цвет фона */
    color: #fff; /* Белый цвет текста */
    font-family: 'CircularStd', sans-serif; /* Шрифт с круглыми краями */
    padding: 1%; /* Отступ 1% от ширины родительского элемента */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для текста в шапке */
.student {
    text-align: center; /* Выравниваем текст по центру */
    flex-grow: 1; /* Занимаем доступное пространство по горизонтали */
}

/* Стили для ссылки на GitHub */
.git-logo-link {
    margin-left: 1%; /* Отступ 1% от ширины родительского элемента */
    min-width: 5%; /* Минимальная ширина для логотипа GitHub */
}

.git-logo-link a img {
    width: 5%;
}

/* Стили для главного контейнера */
.main-left {
    text-align: center;
    margin: 1%; /* Отступ 1% от ширины родительского элемента */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Стили для контейнера с графиком */
.graph-container {
    flex: 1;
    text-align: center; /* Центрируем изображение по горизонтали */
}

/* Стили для изображения с графиком */
.graph-container img {
    width: 100%; /* Увеличиваем ширину изображения в 2 раза */
    max-width: none;
    display: inline-block; /* Для правильной центровки */
    margin: 0 auto; /* Центрируем изображение по горизонтали */
}

/* Стили для формы параметров */
.parameters {
    margin: 0 auto;
    width: 40%; /* Ширина формы 40% от ширины родительского элемента */
    text-align: center; /* Центрируем содержимое формы по центру */
}

/* Стили для кнопок выбора X */
.buttonX {
    width: 150%; /* Ширина кнопок 7% от ширины родительского элемента */
    height: 150%; /* Высота кнопок 3% от высоты родительского элемента */
    background-color: #ffcc00; /* Желтый цвет фона */
    color: #fff; /* Белый цвет текста */
    margin: 20%;

}

/* Стили для поля ввода Y */
.text-input {
    width: 15%; /* Ширина поля ввода 10% от ширины родительского элемента */
    height: 3%; /* Высота поля ввода 3% от высоты родительского элемента */
    margin: 1%; /* Отступ 1% от ширины родительского элемента */
}

/* Стили для радиокнопок выбора R */
.radioR {
    margin: 1% auto; /* Отступ 1% от ширины родительского элемента, центрируем по горизонтали */
    text-align: center; /* Центрируем текст радиокнопок */
}

/* Стили для кнопок "Check" и "Clear" */
.action-button {
    background-color: #7c3c87; /* Фиолетовый цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none;
    padding: 1% 2%; /* Отступы 1% сверху и снизу, 2% слева и справа */
    margin: 1%; /* Отступ 1% от ширины родительского элемента */
    cursor: pointer;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 1%; /* Отступ 1% от ширины родительского элемента */
    background-color: #7c3c87; /* Фиолетовый цвет фона */
    color: #fff; /* Белый цвет текста */
}

/* Добавляем круглые края для всех элементов */
* {
    border-radius: 10px;
}

/* Добавляем шрифт CircularStd */
@font-face {
    font-family: 'CircularStd';
    src: url('sources/CircularStd-Black.ttf') format('truetype');
}
